<div>
    <div class="title">
        <h2>MODA URBANA</h2>
    </div>
    <div class="container2">
        <div class="align">
            <a class="active" href="Menupl.html">Playeras</a>
            <a href="Menupa.html">Pantalones</a>  
        </div>

    </div>

<div class="contact">
    <h1>
        Contactanos
    </h1>
    <h4>Correo Electronico:</h4>
    <p>modaurbana@hotmail.com </p>
    <h4>Numero Telefonico:</h4> 
    <p>777777 - 4454444</p>
    <h4>Direccion:</h4>
    <p>CALLE AMERICA <br>COCHABAMBA - BOLIVIA</p>
</div>

